## Use in-memory session/artifact services (do not create .adk/session.db).
ADK_DISABLE_LOCAL_STORAGE=1

## -------------------------
## Option A) OpenAI (LiteLLM)
## -------------------------
# OPENAI_API_KEY="YOUR_API_KEY"
# ADK_MODEL="openai"
# ADK_OPENAI_MODEL="openai/gpt-5.2"

## ------------------------------
## Option B) OCI Generative AI
## OCI_MODEL_IDは下記コマンドで取得できます。
##  oci generative-ai model-collection list-models --endpoint=https://generativeai.ap-osaka-1.oci.oraclecloud.com --compartment-id={compartment_id}
## ------------------------------
# ADK_MODEL="oci"
# OCI_COMPARTMENT_ID="ocid1.compartment.oc1..xxxxxxxx"
# OCI_MODEL_ID="ocid1.generativeaimodel.oc1..xxxxxxxx"
# OCI_CHAT_API_FORMAT="generic"                           # generic | cohere
# OCI_AUTH="api_key"                                    # or "resource_principal"
# OCI_CONFIG_FILE="~/.oci/config"
# OCI_PROFILE="DEFAULT"
# OCI_REGION="ap-tokyo-1"
